// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
	padding: 10px, 0;
	margin-bottom: 15px;
	border-bottom: solid 1px #CCC;
}

.status p {
	margin: 1px, 0;
}


.status.hover {
	background: #F0F0F0;
}

.status .admin {
	display: none;
}

.status.hover .admin {
	display: inline;
}

.btn-status {
	margin-bottom: 25px;
}